# Configuración de Base de Datos MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_DATABASE=Vigilante

# Configuración de Logs
LOG_LEVEL=INFO

# Métricas
# Activar Healthcheck interno de memoria y carga
ENABLE_HEALTHCHECK=True

# Thresholds de Reconocimiento
INSIGHTFACE_THRESHOLD=0.60
INSIGHTFACE_AMBIGUOUS_THRESHOLD=0.50
DEEPFACE_THRESHOLD=0.60
